body{
    background-color: black;
}
#box{
    width:250px;
    height:250px;
    background-color: brown;
    font-size: 11em;
    text-align: center;
    animation-name: slideleft;
    animation-duration: 2s;
    animation-iteration-count: 2;
    animation-direction: alternate-reverse;
    animation-play-state: running;
    animation-timing-function: steps(5);
}
@keyframes slideleft{
    from{
        transform: translateX(300%);
    }
}
@keyframes slideright{
    to{
        transform: translateX(300%);
    }
}
@keyframes slideup{
    from{
        transform: translateY(300%);
    }
}
@keyframes slidedown{
    to{
        transform: translateY(300%);
    }
}
@keyframes rotate{
    50%{transform: rotateX(360deg)}
}
@keyframes grow{
    100%{transform: scale(2,2)}
}
@keyframes shrink{ 
    100%{transform: scale(0.5,0.5)}
}
@keyframes fade{
    50%{opacity: 0}
}
@keyframes colorChange{
    0%{background-color: antiquewhite;}
    20%{background-color: rgb(205, 185, 36)}
    40%{background-color: rgb(207, 237, 16)}
    60%{background-color: blueviolet}
    80%{background-color: rgb(214, 25, 173)}
    100%{background-color: rgb(184, 34, 76)}   
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px gray}
}