body{
    background-image: url(Pikachu.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(53, 110, 156);
    position: default;
    top:00px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(255, 165, 127);
    position: default;
    top: 50px;
    left: 50px;
}
